
.cl-body {
  display: block !important;
}
.cl-pagebreak {
  page-break-before: always !important;
}
.cl-column {
  display: block !important;
  page-break-inside: avoid !important;
  min-width: 600px !important;
}
.cl-column .MuiTableContainer-root {
  min-width: 540px !important;
}
.cl-header {
  display: none !important;
}
.cl-printonly {
  opacity: 1 !important;
}
