
HIGH PRIORITY:
Generate 100 lists asynchronously in web worker
- Don't update the display, show a loading bar

Update export feature
- Include constraints below the class lists
- Include issues below constraints

Update CSV parser
- Different sections have different num columns, make invariant to extra commas
- Parse exported lists

Re-import old list
- Parse exported list, constraints first, then lists (ignore issues)

Autosave every list
- Each time the web worker finishes, add empty name, timestamp, list to array of lists in state
- Use the 0th element of the saved_lists state instead of a separate lists state
- Serialise the list to localStorage and load at startup, boot into last list

Save button
- Give a custom name to the current save

See Saved Class Lists
- Extract ModalList higher order component from issues modal, or copy/paste
- Display name (if present), timestamp, and restore button
- Restore moves the save to the front of the saves list

Print CSS for export with issues
- Class columns stacked vertically without labels
- Separate issue page

Manually set priority of each issue
- Add fields to spreadsheet (but not to app as it is a lot of work)

LOW PRIORITY:
Create Google Form for friend names
